**/*.o
**/*.bin
**/*.rom
**/*.zip
**/*.lst
**/*.dis
**/*.sym
**/*.elf
**/*.hex
*.s#*
*.b#*
*.job
*.map
**/.project
**/.cproject
**/.settings
**/.DS_Store
**/*.sch-bak
**/*.kicad_pcb-bak
**/fp-info-cache
**/*.code-workspace
.vscode/*
